In [7]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from pandas import Series, DataFrame
import pandas as pd
import re
%pylab inline
import matplotlib.pyplot as plt
from collections import defaultdict

from surprise import SVD
from surprise import Dataset

from surprise import NormalPredictor

from surprise import Reader
from surprise import NMF
from surprise import SVDpp
from surprise import accuracy
from surprise.model_selection import train_test_split

Populating the interactive namespace from numpy and matplotlib

In [8]:
users=pd.read_csv('UserAnimeList.csv')

In [9]:
users

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,1362307973,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,1362923691,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,1367081015,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,1362308037,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,1364399953,NaN
5,karthiga,210,161,0000-00-00,0000-00-00,7,2,NaN,0,1362923826,NaN
6,karthiga,232,70,0000-00-00,0000-00-00,6,2,NaN,0,1362849882,NaN
7,karthiga,233,78,0000-00-00,0000-00-00,6,2,NaN,0,1362893384,NaN
8,karthiga,249,167,0000-00-00,0000-00-00,8,2,NaN,0,1363709086,NaN
9,karthiga,269,366,0000-00-00,0000-00-00,10,2,NaN,0,1362303563,NaN
10,karthiga,721,38,0000-00-00,0000-00-00,7,2,NaN,0,1367079833,NaN
11,karthiga,853,26,0000-00-00,0000-00-00,7,2,NaN,0,1362923847,NaN
12,karthiga,857,25,0000-00-00,0000-00-00,10,2,0.0,0,1362316795,NaN
13,karthiga,957,39,0000-00-00,0000-00-00,8,2,NaN,0,1367080458,NaN
14,karthiga,966,506,0000-00-00,0000-00-00,10,1,NaN,0,1362925799,NaN
15,karthiga,1557,26,0000-00-00,0000-00-00,8,2,NaN,0,1367764692,NaN
16,karthiga,1571,25,0000-00-00,0000-00-00,8,2,NaN,0,1367080297,NaN
17,karthiga,1579,25,0000-00-00,0000-00-00,9,2,NaN,0,1367081073,NaN
18,karthiga,1698,23,0000-00-00,0000-00-00,7,2,NaN,0,1367079267,NaN
19,karthiga,1735,303,0000-00-00,0000-00-00,9,1,NaN,0,1362922669,NaN
20,karthiga,1914,39,0000-00-00,0000-00-00,7,2,NaN,0,1367079894,NaN
21,karthiga,1974,51,0000-00-00,0000-00-00,8,2,NaN,0,1367079724,NaN
22,karthiga,2104,26,0000-00-00,0000-00-00,7,2,NaN,0,1367080341,NaN
23,karthiga,2564,12,0000-00-00,0000-00-00,5,2,NaN,0,1362925187,NaN
24,karthiga,2787,24,0000-00-00,0000-00-00,8,2,NaN,0,1367080870,NaN
25,karthiga,3092,12,0000-00-00,0000-00-00,8,2,NaN,0,1367079699,NaN
26,karthiga,3731,25,0000-00-00,0000-00-00,8,2,NaN,0,1367081125,NaN
27,karthiga,4224,25,0000-00-00,0000-00-00,6,2,NaN,0,1364832923,NaN
28,karthiga,4477,11,0000-00-00,0000-00-00,8,2,NaN,0,1367079681,NaN
29,karthiga,4722,25,0000-00-00,0000-00-00,8,2,NaN,0,1367079585,NaN
...,...,...,...,...,...,...,...,...,...,...,...
80076082,HMicca,12291,12,0000-00-00,2012-06-29,9,2,NaN,0,1340998436,"Comedy, Romance"
80076083,HMicca,12461,11,0000-00-00,0000-00-00,9,1,0.0,0,1339716697,NaN
80076084,HMicca,12711,0,0000-00-00,0000-00-00,0,6,NaN,0,1336262429,NaN
80076085,HMicca,12967,12,0000-00-00,2012-09-16,9,2,0.0,0,1347831949,NaN
80076086,HMicca,15417,0,0000-00-00,0000-00-00,0,6,0.0,0,1347832829,NaN
80076087,mini_kaila,173,25,0000-00-00,0000-00-00,7,2,0.0,0,1263503408,NaN
80076088,mini_kaila,193,24,0000-00-00,0000-00-00,0,2,0.0,0,1256416060,NaN
80076089,mini_kaila,236,0,0000-00-00,0000-00-00,0,4,NaN,0,1258493206,NaN
80076090,mini_kaila,251,63,0000-00-00,0000-00-00,8,1,0.0,0,1263663203,NaN
80076091,mini_kaila,850,13,0000-00-00,0000-00-00,8,2,0.0,0,1263137521,NaN
80076092,mini_kaila,907,12,0000-00-00,0000-00-00,7,2,0.0,0,1263137559,NaN
80076093,mini_kaila,957,0,0000-00-00,0000-00-00,9,3,0.0,0,1253719849,NaN
80076094,mini_kaila,1195,13,0000-00-00,0000-00-00,9,2,0.0,0,1258491602,NaN
80076095,mini_kaila,1230,12,0000-00-00,0000-00-00,10,2,0.0,0,1271788299,NaN
80076096,mini_kaila,1807,12,0000-00-00,0000-00-00,6,2,NaN,0,1264095212,NaN
80076097,mini_kaila,1827,26,0000-00-00,0000-00-00,8,2,0.0,0,1261603507,NaN
80076098,mini_kaila,1914,0,0000-00-00,0000-00-00,8,3,0.0,0,1258210522,NaN
80076099,mini_kaila,2002,0,0000-00-00,0000-00-00,0,6,0.0,0,1264021272,NaN
80076100,mini_kaila,2158,0,0000-00-00,0000-00-00,0,6,0.0,0,1264186627,NaN
80076101,mini_kaila,3230,0,0000-00-00,0000-00-00,3,4,NaN,0,1258491798,NaN
80076102,mini_kaila,3655,26,0000-00-00,0000-00-00,9,2,0.0,0,1258655303,NaN
80076103,mini_kaila,4415,13,0000-00-00,0000-00-00,9,2,NaN,0,1258651048,NaN
80076104,mini_kaila,4726,0,0000-00-00,0000-00-00,0,6,0.0,0,1258575918,NaN
80076105,mini_kaila,5178,0,0000-00-00,0000-00-00,0,6,0.0,0,1255813351,NaN
80076106,mini_kaila,5507,0,0000-00-00,0000-00-00,0,6,0.0,0,1256157084,NaN
80076107,mini_kaila,5940,4,0000-00-00,0000-00-00,8,1,0.0,0,1256326186,NaN
80076108,mini_kaila,6030,0,0000-00-00,0000-00-00,0,4,NaN,0,1254150549,NaN
80076109,mini_kaila,6500,1,0000-00-00,0000-00-00,8,3,0.0,0,1263503239,NaN
80076110,mini_kaila,7058,0,0000-00-00,0000-00-00,8,3,0.0,0,1272110959,NaN
80076111,mini_kaila,7088,1,0000-00-00,0000-00-00,8,3,0.0,0,1270675715,NaN

In [40]:
df =users[['username','anime_id','my_score']].iloc[:2000]

In [61]:
testdata=df[df['my_score']==0]

In [62]:
traindata=df[df['my_score']!=0]

In [41]:
reader = Reader(rating_scale=(1, 2000))

In [63]:
readertrain = Reader(rating_scale=(1, traindata.shape[0]))
readertest = Reader(rating_scale=(1, testdata.shape[0]))

In [67]:
data = Dataset.load_from_df(df[['username','anime_id','my_score']], reader)

In [64]:
train_data=Dataset.load_from_df(traindata[['username','anime_id','my_score']], readertrain)

In [65]:
test_data=Dataset.load_from_df(testdata[['username','anime_id','my_score']], readertest)

In [75]:
trainset, testset = train_test_split(train_data, test_size=.25)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 1.5863

1.5863259089309052

In [76]:
algo = SVDpp()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 1.6057

1.605661354388417

In [77]:
algo = NMF()
trainset, testset = train_test_split(train_data, test_size=.25)
# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 2.3284

2.328411875293117

In [85]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):


    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# First train an SVD algorithm on the movielens dataset.
trainset, testset = train_test_split(data, test_size=.25)
#trainset = data.build_full_trainset()
algo = SVD()
algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
#testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

Bas_G [849, 22535, 5667, 2001, 15809, 14075, 433, 16592, 777, 24705]
Damonashu [19, 21603, 226, 177, 934, 486, 4059, 21, 2596, 845]
RedvelvetDaisuki [5958, 1952, 23847, 23283, 8841, 13601, 6211, 18465, 934, 6746]
karthiga [14227, 1735, 857, 853, 10030, 1698, 1914, 233, 232, 4224]
shuzzable [19365, 7148, 4896, 2966, 2581, 2025, 18139, 5355, 13601, 12883]
bskai [21, 66, 30, 401, 2564, 5958, 251, 8769, 2494, 245]
terune_uzumaki [479, 2923, 7082, 6347, 1604]

In [84]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):


    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# First train an SVD algorithm on the movielens dataset.
#trainset, testset = train_test_split(train_data, test_size=.25)
trainset = train_data.build_full_trainset()
algo = NMF()
algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

karthiga [17819, 1535, 268, 13767, 1425, 12355, 6553, 437, 9074, 2904]
RedvelvetDaisuki [21, 801, 60, 5, 966, 189, 5690, 2787, 6, 16668]
Damonashu [16201, 11123, 15439, 578, 5114, 34599, 4814, 17074, 18857, 15117]
bskai [22535, 578, 16668, 19815, 21881, 5341, 801, 12355, 6547, 19]
shuzzable [6553, 12355, 5365, 437, 801, 13767, 19, 5941, 1425, 17819]
terune_uzumaki [12355, 801, 6553, 210, 1575, 19, 22535, 2904, 1425, 17074]
Bas_G [801, 12355, 210, 17074, 1, 31043, 22, 34599, 90, 685]

In [86]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):


    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# First train an SVD algorithm on the movielens dataset.
#trainset, testset = train_test_split(train_data, test_size=.25)
trainset = train_data.build_full_trainset()
algo = SVDpp()
algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

karthiga [1535, 4181, 1425, 1008, 5114, 19815, 431, 245, 2132, 6547]
RedvelvetDaisuki [21, 5, 443, 28171, 6547, 4181, 2970, 22, 1015, 5118]
Damonashu [17074, 9926, 34599, 3092, 6553, 6707, 170, 7785, 981, 578]
bskai [1425, 437, 19, 12355, 34599, 877, 7193, 431, 7647, 6707]
shuzzable [12355, 1535, 5, 23283, 4181, 7054, 22535, 34599, 801, 97]
terune_uzumaki [21, 1535, 1, 12355, 7054, 5114, 22535, 5, 23283, 19]
Bas_G [437, 6553, 34599, 12355, 21, 13767, 17819, 5365, 19, 3092]

In [89]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):


    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

trainset, testset = train_test_split(test_data, test_size=.99)
# First train an SVD algorithm on the movielens dataset.
#trainset, testset = train_test_split(train_data, test_size=.25)
trainset = train_data.build_full_trainset()
algo = SVD()
algo.fit(trainset)


# Than predict ratings for all pairs (u, i) that are NOT in the training set.
#testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

shuzzable [8525, 5118, 4382, 10721, 5681, 6746, 10020, 14075, 72, 16524]
RedvelvetDaisuki [24439, 10863, 834, 8937, 5958, 1690, 2593, 11617, 12413, 8426]
Bas_G [8142, 6707, 25157, 3731, 18857, 10163, 18679, 1311, 3712, 23273]
Damonashu [486, 170, 10162, 6594, 276, 5114, 14075, 3588, 18153, 66]
bskai [7647, 7858, 8246, 877, 766, 2967, 6773, 355, 5277, 1067]